*, *::after, *::before {box-sizing: border-box}

html {
  padding: 0;
  margin-top: 8px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  background-color: white;
}

body {
  max-width: 84%;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: rgb(246, 246, 239);
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #ff6600;
}

.header-left, .header-right {
  align-items: center;
  display: flex;
}

.header-left {
  margin-left: 1px;
}
.header-right {
  margin-right: 6px;
}

.header-left a:visited, .header-right a:visited {
  color: black;
}

.header-title {
  font-weight: 700;
  margin-left: 0.25rem;
  margin-right: 5px;
}

.header-logo {
  height: 20px;
  border: 1px solid white;
  margin: 1.5px 0;
}

.header-link {
  margin: 0 0.5rem;
  text-decoration: none;
}

a:link {
  color: #000000;
  text-decoration: none;
}

a:visited {
  color: #828282;
  text-decoration: none;
}

.active {
  color: white !important;
}

#router-container {
  padding: 10px;
}

main:after {
  content: "";
  display: block;
  border-bottom: 1.5px solid #ff6600;
}

.small-font {
  font-size: 0.7em;
}
.middle-font {
  font-size: 0.8em;
}
.comment-content {
  font-size: 12px;
  margin-left: 5px;
  margin-top: 0;
}
.comment-icon-author {
  margin-left: -8px;
}

.gray {
  margin-top: 0.25em;
  color: #828282 !important;
}

.story {
  padding-top: 0.25em;
  padding-bottom: 0.5em;
  display: flex;
}

.story-right {
  margin-left: 4px;
}

.comment-header {
  color: #828282;
  margin: 0;
  font-size: 0.75rem;
}

.job {
  margin-bottom: 5px;
}

.jobs-header {
  margin-bottom: 15px;
}

.nested-comments-0 {
  margin-left: 1em;
  margin-bottom: 1em;
}

.nested-comments-1 {
  margin-left: 2em;
  margin-bottom: 0.5em;
  padding-top: 0.3em;
  padding-left: 0.75em;
}

.nested-comments-2 {
  margin-left: 3em;
  margin-bottom: 0.5em;
  padding-top: 0.3em;
  padding-left: 0.75em;
}

.nested-comments-3 {
  margin-left: 4em;
  margin-bottom: 0.5em;
  padding-top: 0.3em;
  padding-left: 0.75em;
}

.nested-comments-4 {
  margin-left: 5em;
  margin-bottom: 0.5em;
  padding-top: 0.3em;
  padding-left: 0.75em;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.line {
  background: #ff6600;
  width: 100%;
}

.footer-title, .footer-links {
  margin-top: 20px;
}

.footer-links {
  margin-bottom: 20px;
}

.login-page {
  display: flex;
  flex-direction: column;
}